{% extends 'base_admin.html.twig' %}

{% block title %}Panneau d'administration{% endblock %}

{% block content %}

    <div class="spot-manager">
        <div class="container col-12 py-3">
            <div>
                <h1 class="text-white text-center pt-4 pb-2 font-weight-bold font-italic"><u> Spots </u></h1>
            </div>
            <div class=" text-dark col-12 text-center mx-auto py-3 ">
                <a href="" class="mx-5"><i class="fas fa-plus mx-1"></i>Ajouter un nouveau spot</a>
            </div>
            <table class="table">
                <thead class="thead-light">
                <tr class="justify-content-between text-center">
                    <th>Nom</th>
                    <th>Ville</th>
                    <th>Coordonnée</th>
                    <th>Type</th>
                    <th>Mettre à jour</th>
                    <th>Supprimer</th>
                </tr>
                </thead>
                <tbody class="justify-content-between text-center mx-auto">
                {% for spot in spots %}
                    <tr>
                        <td class="align-middle">
                            {% for picture in spot.pictures %}
                                {% if loop.index == 1 %}
                                    <img class="card-img-top" src="{{ picture.url }}" alt="Card image cap" style="width: 10rem;">
                                {% endif %}
                            {% endfor %}
                            <p>{{ spot.name }}</p>
                        </td>
                        <td class="align-middle">{{ spot.city }}</td>
                        <td class="align-middle">{{ spot.coordinate }}</td>
                        <td class="align-middle">{{ spot.spotType.name }}</td>
                        <td class="align-middle">
                            <a href=""> <button class="btn btn-danger btn-lg ">Edit</button></a>
                        </td>
                        <td class="align-middle">
                            <a href=""> <button class="btn btn-danger btn-lg ">Delete</button></a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}