<ul>
    <a href="{{ path('admin_index') }}"><li class='{{ app.request.attributes.get('_route') == 'admin_index' ? 'active' : '' }} d-flex align-items-center'><i class="fas fa-history"></i>Tableau de Bord</li></a>
    <a href="{{ path('admin_board') }}"><li class='{{ app.request.attributes.get('_route') == 'admin_board' ? 'active' : '' }} d-flex align-items-center'><i class="fas fa-history"></i>Planches</li></a>
    <a href="{{ path('admin_spot') }}"><li class='{{ app.request.attributes.get('_route') == 'admin_spot' ? 'active' : '' }} d-flex align-items-center'><i class="fas fa-history"></i>Spot</li></a>
    <a href=""><li class=' d-flex align-items-center'><i class="far fa-calendar-check"></i>Commentaires</li></a>
</ul>