<nav class="navbar navbar-expand-lg navbar-light bg-secondary">
    <div class="container-fluid">
        <a href="{{ path('home') }}"><img class="logo text-center" width="150" height="140" src="{{ asset('build/logo_navbar.png') }}" alt="logo"></a>
        <a class="navbar-brand text-light" href="{{ path('home') }}">Surf-Egin</a>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('board_index') }}">Planches</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="">Catégories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="{{ path('spot_index') }}">Spot</a>
                </li>
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link text-light" href="#">Favori</a>
                    {% endif %}
                </li>
                {% if is_granted("ROLE_ADMIN") %}
                    <li class="nav-item">
                        <a class="nav-link text-light" href="{{ path('admin_index') }}">Administration</a>
                    </li>
                {% endif %}
                <li class="nav-item">
                    {% if app.user %}
                        <a class="nav-link text-light" href="{{ path('app_logout') }}">Logout</a>
                    {% else %}
                        <a class="nav-link text-light" href="{{ path('app_login') }}">Login</a>
                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
